<div id="signup">
    <form class="form">
        <h2 class="title">Account Details</h2>
        <FormField
            @id='firstName' 
            @label= 'First Name'
            @for = 'fname'
            @type = 'text'
            @onChange = {{this.updateFormDataField}}
            @value={{this.formData.firstName}}
            @showError = {{this.formErrors.firstName}}
            @errorMsg = 'Field cannot be empty'
        />
        <FormField
            @id='lastName' 
            @label= 'Last Name'
            @for = 'lname'
            @type = 'text'
            @onChange = {{this.updateFormDataField}}
            @value={{this.formData.lastName}}
            @showError = {{this.formErrors.lastName}}
            @errorMsg = 'Field cannot be empty'
        />
        <FormField
            @id='username' 
            @label= 'Choose a username:'
            @for = 'username'
            @type = 'text'
            @onChange = {{this.updateFormDataField}}
            @value={{this.formData.username}}
            @showError = {{this.formErrors.username}}
            @errorMsg = 'Field cannot be empty'
        />
         <FormField
            @id='email' 
            @label= 'Email'
            @for = 'email'
            @type = 'email'
            @onChange = {{this.updateFormDataField}}
            @value={{this.formData.email}}
            @showError = {{this.formErrors.email}}
            @errorMsg = 'Email is not valid'
            @validation = {{this.validateEmail}}
        />
        <FormField
            @id='phoneNumber' 
            @label= 'Phone Number'
            @for = 'phoneNumber'
            @type = 'number'
            @onChange = {{this.updateFormDataField}}
            @value={{this.formData.phoneNumber}}
            @showError = {{this.formErrors.phoneNumber}}
            @errorMsg = 'Field cannot be empty'
        />
        <FormField
            @id='experience' 
            @label= 'Experience'
            @for = 'experience'
            @type = 'number'
            @onChange = {{this.updateFormDataField}}
            @value={{this.formData.experience}}
            @showError = {{this.formErrors.experience}}
            @errorMsg = 'Field cannot be empty'
        />
        <FormField
            @id='companyName' 
            @label= 'Company Name :'
            @for = 'companyName'
            @type = 'text'
            @onChange = {{this.updateFormDataField}}
            @value={{this.formData.companyName}}
            @showError = {{this.formErrors.companyName}}
            @errorMsg = 'Field cannot be empty'
        />
         <FormField
            @id='designation' 
            @label= 'Designation :'
            @for = 'designation'
            @type = 'text'
            @onChange = {{this.updateFormDataField}}
            @value={{this.formData.designation}}
            @showError = {{this.formErrors.designation}}
            @errorMsg = 'Field cannot be empty'
        />
        <FormField
            @id='github' 
            @label= 'Github :'
            @for = 'github'
            @type = 'text'
            @onChange = {{this.updateFormDataField}}
            @value={{this.formData.github}}
            @showError = {{this.formErrors.github}}
            @errorMsg = 'Field cannot be empty'
        />
           <FormField
            @id='linkedIn' 
            @label= 'LinkedIn :'
            @for = 'linkedIn'
            @type = 'text'
            @onChange = {{this.updateFormDataField}}
            @value={{this.formData.linkedIn}}
            @showError = {{this.formErrors.linkedIn}}
            @errorMsg = 'Field cannot be empty'
        />
        <FormField
            @id='twitter' 
            @label= 'Twitter :'
            @for = 'twitter'
            @type = 'text'
            @onChange = {{this.updateFormDataField}}
            @value={{this.formData.twitter}}
            @showError = {{this.formErrors.twitter}}
            @errorMsg = 'Field cannot be empty'
        />
        <FormField
            @id='website' 
            @label= 'Website :'
            @for = 'website'
            @type = 'text'
            @onChange = {{this.updateFormDataField}}
            @value={{this.formData.website}}
            @showError = {{this.formErrors.website}}
            @errorMsg = 'Field cannot be empty'
        />
        {{#if this.isSubmitDisable}}
            <button class="submit-btn" disabled={{true}} style='opacity: 0.5'>Submit</button>
        {{else}}
            <button class="submit-btn" {{on 'click' (fn this.handleFormSubmit)}}>Submit</button>
         {{/if}}
    </form>
</div>

{{outlet}}